
.im1{
    background-image: url('../imagenes/asteroide\ 1.png');
    margin: 0;
    width: 160px;
    height: 130px;
    position: relative;
    background-size: cover;
    animation: animacion-img1 5s linear infinite ;
}

.im2{
    background-image: url('../imagenes/asteroide\ 2.png');
    width: 59.75px;
    height: 45px;
    position: relative;
    background-size: cover;
    animation: animacion-img2 30s linear infinite;
}

.im3{
    background-image: url('../imagenes/astro.png');
    width: 75px;
    height: 80px;
    position: relative;
    background-size: cover;
    animation: animacion-img3 4s linear infinite;
}


@keyframes animacion-img1 {
    0%{
        transform: perspective(200px) translateX(-700px) ;
    }
    
    100%{
        transform: perspective(200px) translateX(1000px);
    }
}

@keyframes animacion-img2 {
    0%{
        transform: perspective(200px) translateX(800deg) ;
    }
    
    100%{
        transform: perspective(200px) translateX(1000px);
    }
}

@keyframes animacion-img3 {
    0%{
        transform: perspective(200px) rotateY(10deg) translateX(800deg) ;
    }
    
    100%{
        transform: perspective(200px) rotateY(10deg) translateX(1000px);
    }
}

@keyframes fondo{
    0%{
        background-position: 0px;
        
    }
    100%{
        background-position: -5440px;

        
    }
}


@keyframes barra1{
    0%{
        transform: translateY(270px);

    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(270px);
    }
}

@keyframes barra2{
    0%{
        transform: translateY(-250px);

    }
    50%{
        transform: translateY(-5px);
    }
    51%{       
        transform: translateY(-270px);
        background-color: rgb(228, 255, 106);
        box-shadow: #ccff00ba 2px 5px 5px 1px;
    }
    100%{
        transform: translateY(20px);
    }
}

@keyframes pelota{
    0%{
        transform: translate(-10px,250px);
    }
    50%{
        transform: translate(800px,-10px);   
    }

    100%{
        transform: translate(-10px,250px);
        
    }
}

/*.lololo{
    -ms-flex-order: var(classDerecha);
    -ms-grid-row-span sigue a un objetivo
    -ms-perspevtive-origin-x
}
/* .classIzquierda {
    float: left
    /*28 DE JUNIO PRUEBA WIDI SIN RECUPERATORIO 

