.tablero {
    width: 1200px;
    height: 600px;
    margin: 5vh auto ;
    
}

.barra2JG {
    width: 20px;
    height: 150px;
    background-color: rgba(242, 255, 0, 0.51);
    border-radius: 20px;
    position: absolute;
    right: 0; 
}

.barra1JG {
    position: absolute;
    float: right;
    width: 20px;
    height: 150px;
    background-color: rgba(86, 247, 11, 0.51);
    border-radius: 20px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(137, 92, 199, 0.471);
    margin-bottom: 0;
    border-radius: 2vh;
    width: 20vh;
}
.Controles1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(137, 92, 199, 0.471);
    margin-bottom: 0;
    border-radius: 2vh;
    width: 20vh;
}

.pelota {
    color: white;
    position: absolute;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
}

